@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.primary-bg {
    background-color: rgba(255, 144, 14, 0.1);
    ;
}

.display-flex {
    display: flex;
}

.primary-text-color {
    color: rgba(19, 19, 19, 1)
}

.primary-description-color {
    color: rgba(114, 114, 114, 1);
}

.navbar,
.banner,
main {
    max-width: 1440px;
    margin: 0 auto;
}

.primary-btn {
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 1);
    padding: 20px 25px;
    font-size: 1.1rem;

}

section {
    margin: 85px 0px;
}

/* header style  */
.brand-logo {
    font-size: 3rem;
    font-weight: 700;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-menu {}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-links {
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 18px;
    font-weight: 500;
}

.banner-content {
    max-width: 862px;
    margin: auto;
    text-align: center;
    margin-top: 116px;

}

.banner-content h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 15px;

}

.banner-content p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.banner-img {
    padding-top: 45px;
    padding-bottom: 20px;
}

.banner-img img {
    width: 100%;
}

/* team related css styles */
.team-section {
    align-items: center;
    gap: 16px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.team-tentent {
    margin-left: 30px;

}

.team-tentent h2 {
    font-size: 2.5rem;
    width: 348px;
}

.feature {
    color: rgba(255, 144, 14, 1);
}

.team-tentent p {
    font-size: 1rem;
    font-weight: 400;
    width: 537px;
    margin-bottom: 25px;
}


/* style feature area */
.feature-container {
    display: flex;
    gap: 116px;
}

.feature-text h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.feature-text p {
    font-size: 1rem;
    font-weight: 400;
    width: 586px;
    line-height: 26px;
}

.feature-card {
    width: 580px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 40px 10px;
    margin-top: 30px;

}

.feature-card h3 {
    font-size: 1.1rem;
}

.feature-card p {
    font-size: 1rem;
    font-weight: 400;
}

.feature-img {
    position: relative;
}

.feature-img img {
    width: 100%;
    z-index: 0;
}

.experience {
    width: 342px;
    text-align: center;
    padding: 40px;
    margin-top: -98px;
    z-index: 9999;
    position: absolute;
    left: -72px;
}
}

.experience h2 {
    font-size: 3rem;

}

/* style fact area */
.fact-content {}
.fact-content h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.fact-content p {
    width: 542px;
    font-size: 1rem;
    font-weight: 400;
}
.fact-grid-container {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-info {
    width: 241px;
    height: 241px;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-info h2 {
    font-size: 3rem;
    color: rgba(66, 66, 66, 1);
}
.fact-info p {
    font-size: 1rem;
    color: rgba(114, 114, 114, 1)
}

@media screen and (max-width:576px) {
    .navbar {
        flex-direction: column;
    }

    .team-section {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-tentent {
        margin-left: 0px;
    }

    .team-tentent h2 {
        width: 100%;
    }

    .team-tentent p {
        width: 100%;
    }

}