@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.primary-bg {
    background-color: rgba(255, 144, 14, 0.1);;
}
.display-flex {
    display: flex;
}
.primary-text-color {
    color:rgba(19, 19, 19, 1)
}
.primary-description-color {
    color: rgba(114, 114, 114, 1);
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

.primary-btn {
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 1);
    padding: 20px 25px;
    font-size: 1.1rem;
   
}

/* header style  */
.brand-logo {
    font-size: 3rem;
    font-weight: 700;
}
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-menu {}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-links {
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 18px;
    font-weight: 500;
}

.banner-content {
    max-width: 862px;
    margin: auto;
    text-align: center;
    margin-top: 116px;

}
.banner-content h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 15px;
    
}
.banner-content p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.banner-img {
   padding-top: 45px;
   padding-bottom: 20px;
}
.banner-img img {
    width: 100%;
}


@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
}